{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ book.title }}</h1>

  <p><strong>Author:</strong> <a href="{% url 'author-lookup' book.author.pk %}">{{ book.author }}</a></p>
  <p><strong>Summary:</strong> {{ book.summary }}</p>
  <p><strong>ISBN:</strong> {{ book.isbn }}</p>
  <p><strong>Language:</strong> {{ book.language }}</p>
  <p><strong>Genre:</strong> {% for genre in book.genre.all %} {{ genre }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>

  <div style="margin-left:20px;margin-top:20px">
    <h4>Copies</h4>

    {% for copy in book.bookinstance_set.all %}
    <hr>
    <p class="{% if copy.status == 'a' %}text-success{% elif copy.status == 'd' %}text-danger{% else %}text-warning{% endif %}">{{ copy.get_status_display }}</p>
    {% if copy.status != 'a' %}<p><strong>Due to be returned:</strong> {{copy.due_back}}</p>{% endif %}
    <p><strong>Imprint:</strong> {{copy.imprint}}</p>
    <p class="text-muted"><strong>Id:</strong> {{copy.id}}</p>
    {% endfor %}
  </div>
  <style>
   button {
	background: #008EB0;
    color: #fff;
	padding: 1rem 1.5rem;
    border: none;
    margin-bottom: 1rem;
   }
   .red { background: #C1172C; }
   .green { background: #04B404; }
  </style>
{% if user.is_staff %}
{% for copy in book.bookinstance_set.all %}
<form action="{% url 'loan' copy.id %}"><p style="position:absolute; bottom; left: 196px;">
<button class="green">Borrow</button></form>
{% endfor %}
<form action="{% url 'book-delete' book.pk %}"><p style="position:absolute; bottom; left: 110px;"><button class="red">Delete</button></form>
<form action="{% url 'book-update' book.pk %}"><p style="position:absolute; bottom; left: 20px;"><button>Update</button></form>
{% endif %}
{% endblock %}